/**
 * Navigation.
 */

.nav-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 50px;
  background-color: var(--color-white);
}

.navbar-floating {
  z-index: 200;
}

.navbar-container {
  padding: 0;
  height: 50px;
  background-color: var(--color-white);
  box-shadow: 0 -2px 6px rgba(76,93,121,0.22)
}

.navbar {
  margin-top: 6px;
  padding-left: 10px;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-around;
}

.navbar li {
  display: inline;
  margin-top: 0;
  text-align: center;
}

/**
 * Navbar items
 */

.navbar-item {
  margin-right: 15px;
  color: var(--color-blue_light);
  font-size: var(--fontSize_small);
  line-height: 4px;
  text-decoration: none;
}

.navbar-item_right {
  display: none;
}

.navbar-item:hover,
.navbar-item_active,
.navbar-item_active:hover {
  color: var(--color-skyblue_dark);
}

/**
 * Navbar logo
 */

.navbar-logo {
  display: none;
}

.logo-group path {
  fill: var(--color-blue_base);
}

/**
 * Responsive rules for screens starting at 768px width
 */

@media screen and (min-width: 768px) {
  .nav-sticky {
    position: inherit;
    border-top: none;
    background-color: var(--color-white);
  }

  .navbar-container {
    position: fixed;
    width: 100vw;
    height: 40px;
    padding: 10px 0;
    background-color: var(--color-white);
    box-shadow: 0 2px 6px rgba(76,93,121,0.22)
  }

  .navbar {
    display: block;
    margin-top: 16px;
  }

  .navbar-item {
    float: left;
    color: var(--color-blue_light);
    font-size: var(--fontSize_base);
  }

  .navbar-item:hover {
    color: var(--color-skyblue_dark);
  }

  .navbar-item_active,
  .navbar-item_active:hover {
    font-family: 'CorporateS-Regular', sans-serif;
    color: var(--color-skyblue_dark);
  }

  .navbar-item_right {
    display: inherit;
    float: right;
  }

  .navbar-logo {
    display: block;
    float: left;
    margin-right: 25px;
    margin-top: 2px;
  }

  .logo-full {
    display: inherit;
  }
}

/**
 * Signup nav button.
 */

.button-nav_signup {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-nav_signup {
    display: block;
    float: right;
    border-radius: 2px;
    padding: 9px 14px;
    text-decoration: none;
    color: var(--color-grey_lighter);
    font-size: var(--fontSize_small);
    background-color: var(--color-green_base);
    box-shadow: inset 0 0 0 2px var(--color-green_base);
  }

  .button-nav_signup:hover {
    color: var(--color-green_base);
    background-color: transparent;
  }
}

/**
 * Login nav button.
 */

.button-nav_login {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-nav_login {
    display: block;
    float: right;
    margin-right: 10px;
    border-radius: 2px;
    padding: 9px 14px;
    background-color: var(--color-skyblue_base);
    color: var(--color-grey_lightest);
    font-size: var(--fontSize_small);
    font-weight: var(--fontWeight_base);
    text-decoration: none;
    box-shadow: inset 0 0 0 2px var(--color-skyblue_base);
    transition: all var(--duration_fastest) var(--easing_smooth);
  }

  .button-nav_login:hover {
    color: $color-skyblue_base;
    background-color: transparent;
  }
}
